curl -X POST -H 'Accept: application/ld+json' -H 'Content-Type: application/ld+json' -i http://localhost:8080/login_check --data '{
    "username": "root",
    "password": "root"
}'

Authorize

Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE1MzY2Nzg2MDQsImV4cCI6MTUzNjY4MjIwNCwicm9sZXMiOlsiUk9MRV9BRE1JTiIsIlJPTEVfVVNFUiJdLCJ1c2VybmFtZSI6InJvb3QifQ.fb1RknGbj9kiOu4Buz9G8etXEVA0JlDQ17gl6k4DqZ0SAPqjcDEcWLz7EXDmqHGNJj5E4ujRbed27INlpBBfkrmIRyoq1Xe0DmY_gAkj8fYNxgQd4de6tyDCfmK_uEzvPXUisE8Wt2el_NEt2Watkq5nlEujCfPsjtG0-QI-IT8GJz_LftFKgb-diU_RHq5L4gbQPj5kFurCATFLIqsDH1S-BBngbnEXCCpe8CaFD6XcH8V0ioaD5zYffiz4RNWmvJEGYVo6YVZChXGZTqVFl9QwX9GY2jkiQznE9XJ2kdQydGh_o1JFlsQ5Ue331CWuGSN8JNBL2xWRrNjGXiPNraz6xa_PLcuN_dyV88CCqbP2jiTcGGWoYulAryDdDi13FMoRLYyTM7VOp1SgtQZ37F4MOAy4WnVpspPgp_ca8yTwUIv1IzNXkMiFfaaBc5vKG2wGFz5f6jY45AuGXkYPhjW1tiNQ8MyOi7GVvZba-oLDC2kyeHTy8di1VT_xYOXszebIWnUL7BCdr0rhanw7S_Ax3EhoUucUZYWTJOMSMTrRQj9GtU8SNJ_D9Wp6BY_xLudlaj2i0ONEgAOqlpnX5PBXFwKyb38HPcYxKU8DEHDL1E1TlmZcWx0zAShEMJHcqJXrlXXVnLNrnwSkgKprV7tlcZL4f8oYE7ikVgMfRsY


Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE1MzY2NzkxMTEsImV4cCI6MTUzNjY4MjcxMSwicm9sZXMiOlsiUk9MRV9VU0VSIl0sInVzZXJuYW1lIjoic2F5YSJ9.U3lrclzMwZYSZQsu32TPyuL6vsm7r73mzxzfy-zTVLYCe9TyRmFkuXQFICKx9IcEV2HgjiuvQuNFSQIb5rQUOuH9JaTyZl4-_xaEqdPud3x3qclOeuUgN4NRkdUrV1YAMggFsp1IO-Ebp6jCk0vUuHtJDUvdiflGgewchM_0BKVSF8r1mwGuCC_tjQuhXvq4qWIE1t7eSq-t1d_pdea2i9pV_xEE1pba0tDRzqHfk2rWwtRi95IPuE9qtbKhKtK0so7VxaJJKYgcTDXCyHXm36DyAArjypBJYDdYPq9mR9vdl1LIcmSXq7Y8kB55V2LLuelIpNsuwjYlmFmBMKIDOlSHyCEdWIz56TRAAjwXijciNaACK6YA1byEwXolCdNaASxkrUwg9c0pGa7Zse0egE4ks1qlyxKDTcudqUt1-7xfddHrHyysAKVVRUoKvI5Fn9Tsy7JPz5dDzzbPxtg_uIaWF9SQFuXdQ8PtSO-QFczkEzVfkqnvmUfyJKZt-SQuVpqcxt6wYfXCBW9-x9GdPjH3W5MrR5EpH5OETXEGr9kom6mbGH6HwjHKQfDzy5bREzU_5w6Nvnig1I6ywKSTKxaprbE7N8y5VUfP1UWyXfgekMvRauSn67H0RO0R69opq9RfPgNc3F7hphSRKb6RLhdK8mcNV32IGj2_OqLumdo

