curl -X POST "http://localhost:8080/login_check" -H "accept: application/ld+json" -H "Content-Type: application/ld+json" -d "{ \"_username\": \"root\", \"_password\": \"root\"}"






Authorize

Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE1MzY1ODExNDksImV4cCI6MTUzNjU4NDc0OSwicm9sZXMiOlsiUk9MRV9BRE1JTiJdLCJ1c2VybmFtZSI6InJvb3QifQ.233lBYe3zCA9bR9cU4r3q5jcSNyDRoLwbaMmpERd31KMXOrBGjeWVzgJFv_nf5TXa175lBzI68IX__AFLqoPWmPTgbUT1qxBMJll2f7EOrVw6sPRPUn-9wo9oXCeNKIK3JT4P6V4odVkPpJvnM5YCyeZnulg91tRV7TGOdDQ0xNiu5XLFn45gbal_BiT1TR6gpFSBGge3yJNXNh46d7SD2Zkjv2kLa5xr0IePdeDArj56MZpw_lpk4T-MhnTgkrE0G0DcH4UoofH-xNrOLs8Pb6EwzIB5AwZFAnpaFywENB54V123deBj-HPZnB6kH4r7RpjAZQJtIWEluchWsIh3IS7nrIj22E7QMn3oQwYNYP5gdUd8aZu855ABUV5WiTTtPCiWd8mmQWS5vmfSO5Gv7dFvHYMkMVq1EiX81XyEowxSMQz-ZvXiBsp6R7sARxYiHEB1GSIsSrRQ2W5SWq_WG2-Q5bZLdXOH2myFhY6p6u_6AVj_pqre5didheBCcVUNlyLTSz3eNDsJ2fIRSCAW6mptorlbV226yVvUIpAOsoMbJBUkAMr9MNNG_3oO61t6Nn9clLMFg3GI4swKD3-wE2IG0QB08h-2F9BCD9kCbEzC_qRCLYBxuCu0KGKEkwuPyY67kwAfZp9eMcmqkvb3MkVKbA7-uluXatgkycFy5Y